
<div id="detail-contact">
  <div class="row" id="detial-contacts">
    <div class="col-12">

      <div class="row">
        <div class="col-12">
          <h1>Detalle</h1>
          <h4 class="card-title">{{(contact.surname + ", "+ contact.name | capitalize) +" ("+contact.sex+")"}}</h4>
          <p class="card-text">{{contact.description}}</p>
<button mat-raised-button color="primary" (click)="returnBack()">Go Back to Contacts</button>

        </div>
      </div>
      </div>
      </div>
</div>



